body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f2f5;
    overflow-y: auto;
}

header {
    background: #ffffff;
    color: #4267B2;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#back-btn {
    padding: 0.5rem 1rem;
    background: #4267B2;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 30px;
}

#back-btn:hover {
    background: #365899;
}

main {
    margin-top: 80px; /* Adjust for fixed header */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chat-container {
    background: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

#messages-container {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.message {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.sent {
    background: #4267B2;
    color: white;
    align-self: flex-end;
}

.received {
    background: #e4e6eb;
    color: black;
    align-self: flex-start;
}

#message-form {
    display: flex;
}

#message-input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#message-form button {
    padding: 0.5rem 1rem;
    background: #4267B2;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 0.5rem;
    cursor: pointer;
}

#message-form button:hover {
    background: #365899;
}
